<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li
    <% if menu[:active] == "акция" %> class="active"
    <% end %> ><a href="/stocks">Акция</a></li>
    <li
    <% if menu[:active] == "настройки" %> class="active"
    <% end %> ><a href="/information_to_connects">Настройки</a></li>
    <li>&nbsp; Учатники</li>
    <li
    <% if menu[:active] == "разблокированные" %> class="active"
    <% end %> ><a href="/members_true">Разблокированные</a></li>
    <li
    <% if menu[:active] == "заблокированные" %> class="active"
    <% end %> ><a href="/members_false">Заблокированные</a></li>
  </ul>
</div>