<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li
    <% if menu[:active] == "акция" %> class="active"
    <% end %> ><a href="/stocks">Акция</a></li>
    <li
    <% if menu[:active] == "настройки" %> class="active"
    <% end %> ><a href="/information_to_connects">Настройки</a></li>
    <li
    <% if menu[:active] == "отображаемые" %> class="active"
    <% end %> ><a href="/stocks">Учатники отображаемые на сайте</a></li>
    <li
    <% if menu[:active] == "заблокированные" %> class="active"
    <% end %> ><a href="/information_to_connects">Заблокированные участники</a></li>
  </ul>
</div>