// Place all the styles related to the stock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.overlay {
  z-index: 3;
  position: fixed;
  background-color: white;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  display: block;
}

#load_img {
  margin: auto;
}